<div class="contenedorTablaUsuarios">
  <h2>Tabla de Usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>ID del Usuario</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Correo Electrónico</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idusuario }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.paterno }}</td>
        <td>{{ usuario.materno }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.fecharegistro | date: 'shortDate' }}</td>
        <td>
          <button (click)="editarUsuario(usuario)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
